* {
    box-sizing: border-box;
}

html {
    text-align: center;
    font-family: sans-serif;
}

body, head {
    height: 100vh;
    margin: 0;
}

.highlighted {
    color: #ffffff;
    font-weight: bold;
}

header, footer {
    background-color: #292A1B;
}

.header-text, .footer-text {
    background-color: white;
    height: 4rem;
    width: 15rem;
    border: solid #FDEA8E;
}

.header-text {
    text-align: right;
}

.nav-bar {
    background-color: #665F39;
}

.right {
    background-color: #292A1B;
}

.content, .content-2 {
    display: grid;
    align-items: center;
    border: solid;
    background-color: #DFCA97;
}

.content-2 {
    border-top: none;
}

h1 {
    font-size: 1.1rem;
}

h2 {
    display: inline;
    font-size: 1.5rem;
    margin: 10px;
    padding: 1%;
    text-align: left;
    color: #FDEA8E;
}

h3 {
    color: #00804A;
}

p {
    font-size: 3rem;
    line-height: 1.2;
    color: #282B15;
}

.tab-button {
    font-size: 2.1rem;
    padding: 10px 20px;
    background-color: #1B4224;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.active-tab {
    background-color: #75371e;
}

input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="number"] {
    width: 200px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}

label {
    font-size: 20px;
}

.formAlignment input[type="radio"] {
    display: none;
}

.formAlignment label {
    display: inline-block;
    padding: 2px 9px;
    cursor: pointer;
    border: 1px solid #45a049;
    margin: 6px;
}

.formAlignment label:hover {
    background-color: #d0ffb7;
    border: 1px solid #1CA92E;
}

.formAlignment input[type="radio"]:checked+label {
    background-color: #d0ffb7;
}